In [1]:
import numpy as np
import pandas as pd
import pymongo

In [2]:
asylum_seekers= pd.read_csv("resources/asylum_seekers.csv")
demographic_df = pd.read_csv("resources/demographics.csv")

C:\Users\Stewart\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
demographic_df.head()

,Year,Country / territory of asylum/residence,Location Name,Female 0-4,Female 5-11,Female 5-17,Female 12-17,Female 18-59,Female 60+,F: Unknown,F: Total,Male 0-4,Male 5-11,Male 5-17,Male 12-17,Male 18-59,Male 60+,M: Unknown,M: Total
0,2001,Afghanistan,Kabul,0,NaN,1.0,NaN,1,0,0.0,2,0,NaN,0.0,NaN,2,0,0.0,2
1,2001,Afghanistan,Various,14335,NaN,45451.0,NaN,99880,19234,412004.0,590904,14716,NaN,47522.0,NaN,114965,13025,435492.0,625720
2,2001,Afghanistan,Herat,0,NaN,0.0,NaN,1,0,0.0,1,0,NaN,0.0,NaN,1,0,0.0,1
3,2001,Angola,Viana,484,NaN,1687.0,NaN,1282,43,0.0,3496,597,NaN,1645.0,NaN,787,34,0.0,3063
4,2001,Angola,Moxico,219,NaN,734.0,NaN,427,25,0.0,1405,226,NaN,711.0,NaN,139,15,0.0,1091

In [4]:
demographic_no_asterisks = demographic_df.replace("*", "NaN")
demographic_no_asterisks["Male 12-17"].value_counts()

0        2805
1         538
NaN       399
2         356
3         244
5         235
4         231
7         176
6         174
9         146
8         145
11        123
10        120
12        109
20        103
15        102
14         88
16         86
19         79
13         68
17         66
21         63
32         62
22         62
18         61
23         59
27         57
42         54
25         52
35         50
         ...
1269        1
4049        1
721         1
2752        1
6245        1
1167        1
2451        1
4192        1
3566        1
8759        1
1526        1
6144        1
5737        1
5297        1
1265        1
815         1
10388       1
1427        1
2123        1
2776        1
13230       1
6859        1
1127        1
1918        1
555         1
1537        1
1076        1
39780       1
1644        1
15324       1
Name: Male 12-17, Length: 2340, dtype: int64

In [5]:
demo_dtypes_df = demographic_no_asterisks.astype(dtype = {"Year": str,
            "Country / territory of asylum/residence": str,
                                   "Female 0-4": float,
                                   "Female 5-11": float,
                                   "Female 5-17": float,
                                   "Female 12-17": float,
                                   "Female 18-59": float,
                                   "Female 60+": float,
                                   "F: Unknown": float,
                                   "F: Total": float,
                                   "Male 0-4": float,
                                   "Male 5-11": float,
                                   "Male 5-17": float,
                                   "Male 12-17": float,
                                   "Male 18-59": float,
                                   "Male 60+": float,
                                   "M: Unknown": float,
                                   "M: Total": float,
                                  } )

In [6]:
demo_dtypes_df.dtypes

Year                                        object
Country / territory of asylum/residence     object
Location Name                               object
Female 0-4                                 float64
Female 5-11                                float64
Female 5-17                                float64
Female 12-17                               float64
Female 18-59                               float64
Female 60+                                 float64
F: Unknown                                 float64
F: Total                                   float64
Male 0-4                                   float64
Male 5-11                                  float64
Male 5-17                                  float64
Male 12-17                                 float64
Male 18-59                                 float64
Male 60+                                   float64
M: Unknown                                 float64
M: Total                                   float64
dtype: object

In [7]:
len(demo_dtypes_df.index)

18356

In [8]:
demo_by_year_residence = demo_dtypes_df.groupby(by=["Year", "Country / territory of asylum/residence"]).sum()
demo_by_year_residence.head(20)

                                              Female 0-4  Female 5-11  \
Year Country / territory of asylum/residence
2001 Afghanistan                                 14335.0          0.0
     Albania                                        14.0          0.0
     Algeria                                     13038.0          0.0
     Angola                                        860.0          0.0
     Argentina                                      18.0          0.0
     Armenia                                      3719.0          0.0
     Azerbaijan                                    358.0          0.0
     Bahrain                                         0.0          0.0
     Bangladesh                                   2024.0          0.0
     Belarus                                        22.0          0.0
     Belize                                          0.0          0.0
     Benin                                         251.0          0.0
     Bolivia (Plurinational State of)                0.0          0.0
     Botswana                                      219.0          0.0
     Burundi                                      4200.0          0.0
     Cambodia                                       46.0          0.0
     Cameroon                                      150.0          0.0
     Central African Rep.                         4353.0          0.0
     Chile                                          11.0          0.0
     China                                        5105.0          0.0

                                              Female 5-17  Female 12-17  \
Year Country / territory of asylum/residence
2001 Afghanistan                                  45452.0           0.0
     Albania                                         37.0           0.0
     Algeria                                      29253.0           0.0
     Angola                                        2959.0           0.0
     Argentina                                       91.0           0.0
     Armenia                                      10060.0           0.0
     Azerbaijan                                    1009.0           0.0
     Bahrain                                          0.0           0.0
     Bangladesh                                    4542.0           0.0
     Belarus                                        146.0           0.0
     Belize                                           0.0           0.0
     Benin                                          594.0           0.0
     Bolivia (Plurinational State of)                 1.0           0.0
     Botswana                                       443.0           0.0
     Burundi                                       6747.0           0.0
     Cambodia                                        70.0           0.0
     Cameroon                                       314.0           0.0
     Central African Rep.                          7870.0           0.0
     Chile                                           30.0           0.0
     China                                        21229.0           0.0

                                              Female 18-59  Female 60+  \
Year Country / territory of asylum/residence
2001 Afghanistan                                   99882.0     19234.0
     Albania                                          91.0        15.0
     Algeria                                       33630.0       185.0
     Angola                                         2485.0        83.0
     Argentina                                       221.0         7.0
     Armenia                                       63483.0     66030.0
     Azerbaijan                                     2076.0        66.0
     Bahrain                                           1.0         0.0
     Bangladesh                                     4537.0       248.0
     Belarus                                         170.0        23.0
     Belize                                            0.0         0.0
     Benin                                          1295.0        12.0
     Bolivia (Plurinational State of)                  3.0         0.0
     Botswana                                        619.0        49.0
     Burundi                                        8664.0       293.0
     Cambodia                                        140.0         6.0
     Cameroon                                       1894.0         4.0
     Central African Rep.                           9893.0        19.0
     Chile                                            74.0         0.0
     China                                         51787.0     11399.0

                                              F: Unknown  F: Total  Male 0-4  \
Year Country / territory of asylum/residence
2001 Afghanistan                                412004.0  590907.0   14716.0
     Albania                                         0.0     157.0      18.0
     Algeria                                         0.0   76106.0   13001.0
     Angola                                          0.0    6387.0     990.0
     Argentina                                       0.0     337.0      29.0
     Armenia                                         0.0  143292.0    4011.0
     Azerbaijan                                      0.0    3509.0     337.0
     Bahrain                                         0.0       1.0       0.0
     Bangladesh                                      0.0   11351.0    2053.0
     Belarus                                         0.0     361.0      23.0
     Belize                                        396.0     396.0       0.0
     Benin                                           0.0    2152.0     238.0
     Bolivia (Plurinational State of)                0.0       4.0       1.0
     Botswana                                        0.0    1330.0     226.0
     Burundi                                         0.0   19904.0    4079.0
     Cambodia                                        0.0     262.0      50.0
     Cameroon                                        0.0    2362.0     137.0
     Central African Rep.                            0.0   22135.0    4376.0
     Chile                                           0.0     115.0      14.0
     China                                       51256.0  140776.0    7449.0

                                              Male 5-11  Male 5-17  \
Year Country / territory of asylum/residence
2001 Afghanistan                                    0.0    47522.0
     Albania                                        0.0       37.0
     Algeria                                        0.0    31748.0
     Angola                                         0.0     2940.0
     Argentina                                      0.0       66.0
     Armenia                                        0.0     9728.0
     Azerbaijan                                     0.0      878.0
     Bahrain                                        0.0        0.0
     Bangladesh                                     0.0     4435.0
     Belarus                                        0.0      130.0
     Belize                                         0.0        0.0
     Benin                                          0.0      630.0
     Bolivia (Plurinational State of)               0.0        1.0
     Botswana                                       0.0      486.0
     Burundi                                        0.0     6487.0
     Cambodia                                       0.0      105.0
     Cameroon                                       0.0      331.0
     Central African Rep.                           0.0     9682.0
     Chile                                          0.0       31.0
     China                                          0.0    23914.0

                                              Male 12-17  Male 18-59  \
Year Country / territory of asylum/residence
2001 Afghanistan                                     0.0    114968.0
     Albania                                         0.0       117.0
     Algeria                                         0.0     33658.0
     Angola                                          0.0      1814.0
     Argentina                                       0.0       493.0
     Armenia                                         0.0     55171.0
     Azerbaijan                                      0.0      2127.0
     Bahrain                                         0.0         0.0
     Bangladesh                                      0.0      4092.0
     Belarus                                         0.0       400.0
     Belize                                          0.0         0.0
     Benin                                           0.0      2001.0
     Bolivia (Plurinational State of)                0.0         2.0
     Botswana                                        0.0      1470.0
     Burundi                                         0.0      5167.0
     Cambodia                                        0.0       675.0
     Cameroon                                        0.0      1513.0
     Central African Rep.                            0.0     13031.0
     Chile                                           0.0        86.0
     China                                           0.0     54567.0

                                              Male 60+  M: Unknown  M: Total
Year Country / territory of asylum/residence
2001 Afghanistan                               13025.0    435492.0  625723.0
     Albania                                      16.0         0.0     188.0
     Algeria                                     917.0         0.0   79324.0
     Angola                                      119.0         0.0    5863.0
     Argentina                                    23.0         0.0     611.0
     Armenia                                   52135.0         0.0  121045.0
     Azerbaijan                                   60.0         0.0    3402.0
     Bahrain                                       0.0         0.0       0.0
     Bangladesh                                  242.0         0.0   10822.0
     Belarus                                      10.0         0.0     563.0
     Belize                                        0.0       478.0     478.0
     Benin                                         4.0         0.0    2873.0
     Bolivia (Plurinational State of)              0.0         0.0       4.0
     Botswana                                     69.0         0.0    2251.0
     Burundi                                     253.0         0.0   15986.0
     Cambodia                                      9.0         0.0     839.0
     Cameroon                                      4.0         0.0    1985.0
     Central African Rep.                         15.0         0.0   27104.0
     Chile                                         4.0         0.0     135.0
     China                                     11143.0     57422.0  154495.0

In [9]:
demo_by_year_residence.reset_index(inplace=True)
demo_by_year_residence.head()

,Year,Country / territory of asylum/residence,Female 0-4,Female 5-11,Female 5-17,Female 12-17,Female 18-59,Female 60+,F: Unknown,F: Total,Male 0-4,Male 5-11,Male 5-17,Male 12-17,Male 18-59,Male 60+,M: Unknown,M: Total
0,2001,Afghanistan,14335.0,0.0,45452.0,0.0,99882.0,19234.0,412004.0,590907.0,14716.0,0.0,47522.0,0.0,114968.0,13025.0,435492.0,625723.0
1,2001,Albania,14.0,0.0,37.0,0.0,91.0,15.0,0.0,157.0,18.0,0.0,37.0,0.0,117.0,16.0,0.0,188.0
2,2001,Algeria,13038.0,0.0,29253.0,0.0,33630.0,185.0,0.0,76106.0,13001.0,0.0,31748.0,0.0,33658.0,917.0,0.0,79324.0
3,2001,Angola,860.0,0.0,2959.0,0.0,2485.0,83.0,0.0,6387.0,990.0,0.0,2940.0,0.0,1814.0,119.0,0.0,5863.0
4,2001,Argentina,18.0,0.0,91.0,0.0,221.0,7.0,0.0,337.0,29.0,0.0,66.0,0.0,493.0,23.0,0.0,611.0

In [10]:
compact_demographics_df = demo_by_year_residence[["Year", 
                                                  "Country / territory of asylum/residence", 
                                                  "F: Total", 
                                                  "M: Total"]]
compact_demographics_df.head()

   Year Country / territory of asylum/residence  F: Total  M: Total
0  2001                             Afghanistan  590907.0  625723.0
1  2001                                 Albania     157.0     188.0
2  2001                                 Algeria   76106.0   79324.0
3  2001                                  Angola    6387.0    5863.0
4  2001                               Argentina     337.0     611.0

In [11]:
compact_demographics_df["Country / territory of asylum/residence"].value_counts()

United Rep. of Tanzania                      16
Afghanistan                                  16
Congo                                        16
Thailand                                     16
Cameroon                                     16
Indonesia                                    16
Albania                                      16
Kenya                                        16
Tunisia                                      16
India                                        16
Burundi                                      16
Cuba                                         16
Saudi Arabia                                 16
Dem. Rep. of the Congo                       16
Panama                                       16
Rwanda                                       16
Mali                                         16
The former Yugoslav Republic of Macedonia    16
Zambia                                       16
Liberia                                      16
Benin                                        16
Kyrgyzstan                                   16
Bahrain                                      16
Bangladesh                                   16
Sudan                                        16
Uganda                                       16
Egypt                                        16
Niger                                        16
Singapore                                    16
Turkey                                       16
                                             ..
Japan                                         4
France                                        4
Barbados                                      4
South Africa                                  4
Denmark                                       4
Montserrat                                    3
Nauru                                         3
Saint Kitts and Nevis                         3
Liechtenstein                                 3
Italy                                         3
Spain                                         3
Antigua and Barbuda                           3
Saint Vincent and the Grenadines              2
United Kingdom                                2
Anguilla                                      2
Finland                                       2
United States of America                      2
New Zealand                                   2
Austria                                       2
Portugal                                      2
Samoa                                         2
Monaco                                        2
Brunei Darussalam                             1
Seychelles                                    1
Luxembourg                                    1
Cyprus                                        1
Mauritius                                     1
Australia                                     1
Cabo Verde                                    1
Bonaire                                       1
Name: Country / territory of asylum/residence, Length: 191, dtype: int64

In [12]:
compact_demographics_df.to_csv("resources/demographics_to_merge.csv")

In [13]:
asylum_seekers_dtypes= {
    'Year': "float",
    'Country / territory of asylum/residence': "object",
    'Origin': "object",
    'RSD procedure type / level': "object",
    'Tota pending start-year': "float",
    'of which UNHCR-assisted(start-year)': "float",
    'Applied during year': "float",
    'decisions_recognized': "float",
    'decisions_other': "float",
    'Rejected': "float",
    'Otherwise closed': "float", 
    'Total decisions': "float",
    'Total pending end-year': "float",
    'of which UNHCR-assisted(end-year)': "float"
}

In [14]:
# Number of Records
print("Number of Records:\n"+str(len(asylum_seekers)))
print()
print(asylum_seekers.columns)

# Get rid of "*" character in dataset
asylum_seekers.replace("*","NaN",inplace=True)


# Make certain columns numeric
numeric_columns= ['Tota pending start-year', 'of which UNHCR-assisted(start-year)', 'Applied during year', 'decisions_recognized', 'decisions_other', 'Rejected', 'Otherwise closed', 'Total decisions', 'Total pending end-year', 'of which UNHCR-assisted(end-year)']

asylum_seekers= asylum_seekers.astype(asylum_seekers_dtypes)

Number of Records:
129720

Index(['Year', 'Country / territory of asylum/residence', 'Origin',
       'RSD procedure type / level', 'Tota pending start-year',
       'of which UNHCR-assisted(start-year)', 'Applied during year',
       'decisions_recognized', 'decisions_other', 'Rejected',
       'Otherwise closed', 'Total decisions', 'Total pending end-year',
       'of which UNHCR-assisted(end-year)'],
      dtype='object')

In [15]:
# Get rid of some columns
asylum_seekers= asylum_seekers[[
    'Year', 
    'Country / territory of asylum/residence',
    'Tota pending start-year',
    'Applied during year',
    'Total decisions',
    'Total pending end-year'
]]

# Get rid of Year 2000 to match other data

asylum_seekers= asylum_seekers.loc[(asylum_seekers["Year"] > 2000)]

print(min(asylum_seekers['Year']))
print(max(asylum_seekers['Year']))

len(asylum_seekers)

2001.0
2016.0

124567

In [16]:
#Groupby

asylum_seekers_groupby= asylum_seekers.groupby(["Year","Country / territory of asylum/residence"])
asylum_seekers_groupby_df= asylum_seekers_groupby.sum()
asylum_seekers_groupby_df.reset_index(inplace= True)
asylum_seekers_groupby_df.head()

,Year,Country / territory of asylum/residence,Tota pending start-year,Applied during year,Total decisions,Total pending end-year
0,2001.0,Afghanistan,0.0,131.0,131.0,0.0
1,2001.0,Albania,4.0,160.0,93.0,71.0
2,2001.0,Algeria,310.0,28.0,265.0,108.0
3,2001.0,Angola,883.0,167.0,148.0,902.0
4,2001.0,Argentina,1274.0,495.0,226.0,1543.0

In [17]:
asylum_seekers_groupby_df["Country / territory of asylum/residence"].value_counts()

Israel                                       16
United Kingdom                               16
Qatar                                        16
Rep. of Korea                                16
Syrian Arab Rep.                             16
Nicaragua                                    16
Cambodia                                     16
New Zealand                                  16
Switzerland                                  16
Burundi                                      16
Ghana                                        16
Cyprus                                       16
Estonia                                      16
Congo                                        16
Norway                                       16
Lebanon                                      16
Thailand                                     16
Malta                                        16
Portugal                                     16
Niger                                        16
Sudan                                        16
United Arab Emirates                         16
Bangladesh                                   16
Mozambique                                   16
The former Yugoslav Republic of Macedonia    16
Japan                                        16
Ecuador                                      16
Somalia                                      16
Indonesia                                    16
Greece                                       16
                                             ..
Dominican Rep.                                7
Palau                                         7
Lesotho                                       6
South Sudan                                   6
Madagascar                                    6
Saint Kitts and Nevis                         6
Jamaica                                       6
Sint Maarten (Dutch part)                     6
Uzbekistan                                    6
British Virgin Islands                        5
Nauru                                         5
Guyana                                        5
Turks and Caicos Islands                      5
Montserrat                                    4
Antigua and Barbuda                           4
Saint Vincent and the Grenadines              4
Grenada                                       3
Solomon Islands                               3
Tonga                                         3
Lao People's Dem. Rep.                        3
Samoa                                         2
Dominica                                      2
Myanmar                                       2
Monaco                                        2
Barbados                                      2
Micronesia (Federated States of)              2
Seychelles                                    1
Bonaire                                       1
Mauritius                                     1
Anguilla                                      1
Name: Country / territory of asylum/residence, Length: 190, dtype: int64

### The First Merge

In [18]:
demographics_to_merge= pd.read_csv("resources/demographics_to_merge.csv")

In [19]:
residence_demo_merge= pd.merge(asylum_seekers,demographics_to_merge,how="left", on= ["Year","Country / territory of asylum/residence"])

In [23]:
residence_demo_merge["Year"]= residence_demo_merge["Year"].astype('int')
residence_demo_merge["Year"]= residence_demo_merge["Year"].astype('str')
residence_demo_merge.drop(columns="Unnamed: 0", inplace = True)
residence_demo_merge.head()

,Year,Country / territory of asylum/residence,Tota pending start-year,Applied during year,Total decisions,Total pending end-year,F: Total,M: Total
0,2001,South Africa,0.0,0.0,NaN,4.0,NaN,NaN
1,2001,South Africa,8.0,0.0,7.0,1.0,NaN,NaN
2,2001,Uzbekistan,1235.0,2090.0,2009.0,1316.0,1730.0,2104.0
3,2001,United States of America,186.0,225.0,247.0,164.0,NaN,NaN
4,2001,United States of America,152.0,274.0,274.0,166.0,NaN,NaN

In [24]:
residence_demo_merge.to_csv("resources/residence_demo_merge.csv")

In [25]:
residence_demo_merge_dict= residence_demo_merge.to_dict('records')

In [26]:
test_residence_demo_merge= residence_demo_merge.set_index(["Year","Country / territory of asylum/residence"])

In [27]:
test_residence_demo_merge.to_json("resources/test_residence_demo_merge.json", orient="records")

# Mongo

In [ ]:
conn= 'mongodb://localhost:27017'
client= pymongo.MongoClient(conn)

In [ ]:
db= client["migration_db"]
collection= db.residence_demo_db

collection.insert_many(residence_demo_merge_dict)